@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
  /* Font acquired at https://fonts.google.com/specimen/Yanone+Kaffeesatz  */
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply text-primary dark:text-tertiary;
  @apply bg-quaternary dark:bg-primary;
}

/* TODO: Figure out how to get autofill colors for dark mode toggling */
/* Autofill Light Mode */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #04364a;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #64ccc5;
  caret-color: #176b87;
} */

/* Autofill Dark Mode */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #dafffb;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #176b87;
  caret-color: #64ccc5;
} */
